
Quotify.xcodeproj/project.xcworkspace/xcuserdata/maxrosenblatt.xcuserdatad/UserInterfaceState.xcuserstate

Quotify.xcodeproj/project.xcworkspace/xcuserdata/maxrosenblatt.xcuserdatad/UserInterfaceState.xcuserstate
